//Fonts
//Fonts
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@700&display=swap');

//Variables
$white-bg: #f0f0f0;
$black-txt: #333;
$white-hover: #c4c4c4;
$yellow-bg: #f7da41;
$blue-bg: #9ddde3;
$roboto: 'Roboto', sans-serif;
$opensans: 'Open Sans', sans-serif;


//ResetCSS

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    width: 100%;
}

//DocCSS

//Button
.btnbox{
    width: 100%;
    background-color: transparent;

    .btn-light{
        background-color: #333!important;
        padding: 10px 60px;
        color: $white-bg;
        font-size: $roboto!important;
        transition: .4s;

        &:hover{
            background-color: transparent!important;
            color: $black-txt!important;
            border-color: $black-txt;
            transition: .4s;

        }
    }
}

//Menu
header{
    width: 100%;
    position: fixed;
    z-index: 999;
    font-family: 'Playfair', serif;

}
nav{
    padding-left: 30px!important;
    padding-right: 30px!important;
    background-color: $white-bg;
    
    .navbar-brand{
        font-size: 4vh;
        font-weight: 700;

        
    }
    .nav-link{
        font-size: 2.3vh;
        color: #111;
        font-weight: 500;
        transition: .4s;
        transform: translateY(0);

        &:hover{
            color: $white-hover;
            transition: .4s;
            transform: translateY(-4px);
        }

    ion-icon{
        font-size: 3vh;
    }
    }
    .collapse{
        display: flex;
        justify-content: flex-end;

        @media (max-width: 991px){
            justify-content: flex-start;
        }
        

    }
    

}

//Main

main{
    display: flex;
    

    #mainpart{
        background-color: transparent;
        width: 100%;
        height: 100vh;
        position: absolute;

        .white1part{
            background-color: $white-bg;
            width: 100%;
            height: 100vh;
            display: flex;
            padding-top: 10%;
            justify-content: center;

            @media (max-width: 962px){
                padding-top: 16%;
            }

            h1{
                font-size: 30vh;
                width: 100%;
                text-align: center;
                font-weight: 700;
                font-family: 'Playfair', serif;

                @media (max-width: 962px){
                    font-size: 14rem;
                }
                @media (max-width: 756px){
                    font-size: 6rem;
                }
                @media (max-width: 575px){
                    font-size: 5rem;
                }
            }
        }
        .white2part{
            background-color: #c4c4c4;
        }

        
    }

    .pic1{
        margin-bottom: -10%;
        width: 100%;
        height: 70vh;
        background-image: url('../img/img1.png');
        background-repeat: no-repeat;
        background-size: 60vh;
        background-position: center;
        position: absolute;
        bottom: 0;
    }

}

//Section
.spc{
    height: 100vh;
    width: 100%;
    background-color: transparent;
}
#firstSection{
    height: auto;
    padding-top: 30vh;
    padding-bottom: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;

    @media (max-width: 768px){
        font-size: 3vh;
        padding-left: 5%;
        padding-right: 5%;
    }

    #about_container{
        background-color: transparent;
        

        .about{
            color: $black-txt;
            font-size: 4vh;
            font-family: 'Playfair', serif;
            font-weight: 700;

            @media (max-width: 768px){
                font-size: 3vh;
            }
        }
    }
    
}

#secondSection{
    width: 100%;
    height: auto;
    background-color: $yellow-bg;
    padding-bottom: 5vh;

    #immg2{

        #img2{
            width: 60vh;
        }
    }

    #good, #morning{
        font-size: 30vh;
        font-family: $roboto;
        color: #ffffff57;
        width: 100%;
        text-align: center;
        

        @media (max-width: 1134px){
            font-size: 15vh;
        }

        @media (max-width: 768px){
            font-size: 9vh;
        }
    }
    #morning{
        margin-top: -16%;

        @media (max-width: 1134px){
            margin-top: -10%;
        }
    }

    #centerCol1{
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: right;

        img{
            width: 70vh;
        }
    }

    #centerCol2{
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


        p{
            text-align: left;
            font-family: 'Playfair', serif;
            width: 100%;
            font-size: 3.5vh;
            font-weight: 700;
            color: $black-txt;
        }

        #morningTxt{
            font-size: 2.5vh;
            padding-right: 5%;

            @media (max-width: 768px){
                padding-right: 0;
            }
        }
    }
    
}

#thirdSection{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $blue-bg;
    padding-bottom: 5vh;

    #snooze{
        font-size: 30vh;
        font-family: $roboto;
        color: #ffffff57;
        width: 100%;
        text-align: center;
        @media (max-width: 1134px){
            font-size: 15vh;
        }
        @media (max-width: 768px){
            font-size: 9vh;
        }
    }

    .moon{
        background-image: url('../img/moon.png');
        background-position: center;
        width: 70px;
        height: 70px;
        background-size: 70px;
        position: absolute;
        margin-top: -14%;
        right: 0;
        margin-right: 40%;
    }

    #snzCol1{
        padding-left: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p{
            text-align: left;
            font-family: 'Playfair', serif;
            width: 100%;
            font-size: 2.5vh;
            font-weight: 700;
            color: $black-txt;
        }
        #snz{
            font-size: 3.5vh;
        }

    }

    #immg3{
        display: flex;
        align-items: center;
        justify-content: center;

        .img3{
            width: 60vh;
            text-align: center;
        }
    }
   
}

#fourthSection{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $blue-bg;
    padding-bottom: 5vh;

    #theduo{
        font-size: 25vh;
        font-family: $roboto;
        color: #ffffff57;
        width: 100%;
        text-align: center;
        @media (max-width: 1134px){
            font-size: 15vh;
        }
        @media (max-width: 768px){
            font-size: 9vh;
        }
    }
    #colDuoImg{
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @media (max-width: 768px){
            justify-content: center;
        }

        .img4{
            width: 60vh;
    
        }
    }
    

    #colDuo{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        #td{
            font-size: 3.5vh;
            font-family: 'Playfair', serif;
            font-weight: 700;
            width: 100%;
            text-align: left;
        }
        #duoTxt{
            font-size: 2.5vh;
            padding-right: 5%;
            font-family: 'Playfair', serif;
            font-weight: 700;
        }

    }

    
}

//acording

#us{
    padding-top: 10vh;
    background-color: $white-bg;
    padding-bottom: 10vh;

    #pdrow{
        padding-top: 2vh;
        padding-bottom: 2vh;
    }

    .accordion-button{
        background-color: #fff!important;
        border: $yellow-bg 2px solid;
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 4vh;
        font-family: 'Playfair', serif;
        text-decoration: underline;
        font-weight: 700;
    }
    
    #flush-collapseOne, #flush-collapseTwo, #flush-collapseThree,#flush-collapseFour, #flush-collapseFive, #flush-collapseSix,#flush-collapseSeven, #flush-collapseEight{
        font-size: 3vh;
        font-family: 'Playfair', serif;
        font-weight: 700;
    }
}

//footer

footer{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white-bg;

    #footerLogo{
        font-size: 5vh;
        font-family: 'Playfair', serif;
        font-weight: 700;
        color: $black-txt;
    }

    #linksfooter{
        display: flex;
        align-items: center;
        justify-content: center;

        .circle{
            width: 100px;
            height: 100px;
            background-color: rgb(231, 231, 231);
            border-radius: 100%;
            box-shadow: 0px 5px 10px #0000001f;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateY(0);
            transition: .4s;
            cursor: pointer;

            &:hover{
                transform: translateY(-10px);
                cursor: pointer;
                box-shadow: 0px 15px 7px #0000001f;
            }


            a{
                font-size: 2.4vh;
                font-family: 'Playfair', serif;
                font-weight: 700;
                text-decoration: none;
                color: $black-txt;
    
            }
        }
        

        #insta{
            font-size: 4vh;
            transform: translateY(0);
            transition: .4s;
            color: $black-txt;

            &:hover{
                color: $white-hover;
                transition: .4s;
                transform: translateY(-4px);
            }
        }
    }
    

    

    #copy{
        text-align: center;
        font-size: 1.5vh;
        color: $black-txt;
        font-family: 'Playfair', serif;
        font-weight: 700;
        padding-top: 5vh;
    }
}