@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  width: 100%;
}

.btnbox {
  width: 100%;
  background-color: transparent;
}

.btnbox .btn-light {
  background-color: #333 !important;
  padding: 10px 60px;
  color: #f0f0f0;
  font-size: "Roboto", sans-serif !important;
  -webkit-transition: .4s;
  transition: .4s;
}

.btnbox .btn-light:hover {
  background-color: transparent !important;
  color: #333 !important;
  border-color: #333;
  -webkit-transition: .4s;
  transition: .4s;
}

header {
  width: 100%;
  position: fixed;
  z-index: 999;
  font-family: 'Playfair', serif;
}

nav {
  padding-left: 30px !important;
  padding-right: 30px !important;
  background-color: #f0f0f0;
}

nav .navbar-brand {
  font-size: 4vh;
  font-weight: 700;
}

nav .nav-link {
  font-size: 2.3vh;
  color: #111;
  font-weight: 500;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

nav .nav-link:hover {
  color: #c4c4c4;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

nav .nav-link ion-icon {
  font-size: 3vh;
}

nav .collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 991px) {
  nav .collapse {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #mainpart {
  background-color: transparent;
  width: 100%;
  height: 100vh;
  position: absolute;
}

main #mainpart .white1part {
  background-color: #f0f0f0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 962px) {
  main #mainpart .white1part {
    padding-top: 16%;
  }
}

main #mainpart .white1part h1 {
  font-size: 30vh;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-family: 'Playfair', serif;
}

@media (max-width: 962px) {
  main #mainpart .white1part h1 {
    font-size: 14rem;
  }
}

@media (max-width: 756px) {
  main #mainpart .white1part h1 {
    font-size: 6rem;
  }
}

@media (max-width: 575px) {
  main #mainpart .white1part h1 {
    font-size: 5rem;
  }
}

main #mainpart .white2part {
  background-color: #c4c4c4;
}

main .pic1 {
  margin-bottom: -10%;
  width: 100%;
  height: 70vh;
  background-image: url("../img/img1.png");
  background-repeat: no-repeat;
  background-size: 60vh;
  background-position: center;
  position: absolute;
  bottom: 0;
}

.spc {
  height: 100vh;
  width: 100%;
  background-color: transparent;
}

#firstSection {
  height: auto;
  padding-top: 30vh;
  padding-bottom: 30vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 20%;
  padding-right: 20%;
}

@media (max-width: 768px) {
  #firstSection {
    font-size: 3vh;
    padding-left: 5%;
    padding-right: 5%;
  }
}

#firstSection #about_container {
  background-color: transparent;
}

#firstSection #about_container .about {
  color: #333;
  font-size: 4vh;
  font-family: 'Playfair', serif;
  font-weight: 700;
}

@media (max-width: 768px) {
  #firstSection #about_container .about {
    font-size: 3vh;
  }
}

#secondSection {
  width: 100%;
  height: auto;
  background-color: #f7da41;
  padding-bottom: 5vh;
}

#secondSection #immg2 #img2 {
  width: 60vh;
}

@media (max-width: 768px) {
  #secondSection #immg2 #img2 {
    width: 50vh;
  }
}

#secondSection #good, #secondSection #morning {
  font-size: 30vh;
  font-family: "Roboto", sans-serif;
  color: #ffffff57;
  width: 100%;
  text-align: center;
}

@media (max-width: 1134px) {
  #secondSection #good, #secondSection #morning {
    font-size: 15vh;
  }
}

@media (max-width: 768px) {
  #secondSection #good, #secondSection #morning {
    font-size: 9vh;
  }
}

#secondSection #morning {
  margin-top: -16%;
}

@media (max-width: 1134px) {
  #secondSection #morning {
    margin-top: -10%;
  }
}

#secondSection #centerCol1 {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

#secondSection #centerCol1 img {
  width: 70vh;
}

#secondSection #centerCol2 {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#secondSection #centerCol2 p {
  text-align: left;
  font-family: 'Playfair', serif;
  width: 100%;
  font-size: 3.5vh;
  font-weight: 700;
  color: #333;
}

#secondSection #centerCol2 #morningTxt {
  font-size: 2.5vh;
  padding-right: 5%;
}

@media (max-width: 768px) {
  #secondSection #centerCol2 #morningTxt {
    padding-right: 0;
  }
}

#thirdSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #9ddde3;
  padding-bottom: 5vh;
}

#thirdSection #snooze {
  font-size: 30vh;
  font-family: "Roboto", sans-serif;
  color: #ffffff57;
  width: 100%;
  text-align: center;
}

@media (max-width: 1134px) {
  #thirdSection #snooze {
    font-size: 15vh;
  }
}

@media (max-width: 768px) {
  #thirdSection #snooze {
    font-size: 9vh;
  }
}

#thirdSection .moon {
  background-image: url("../img/moon.png");
  background-position: center;
  width: 70px;
  height: 70px;
  background-size: 70px;
  position: absolute;
  margin-top: -14%;
  right: 0;
  margin-right: 40%;
}

#thirdSection #snzCol1 {
  padding-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#thirdSection #snzCol1 p {
  text-align: left;
  font-family: 'Playfair', serif;
  width: 100%;
  font-size: 2.5vh;
  font-weight: 700;
  color: #333;
}

#thirdSection #snzCol1 #snz {
  font-size: 3.5vh;
}

#thirdSection #immg3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#thirdSection #immg3 .img3 {
  width: 60vh;
  text-align: center;
}

@media (max-width: 768px) {
  #thirdSection #immg3 .img3 {
    width: 50vh;
  }
}

#fourthSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #9ddde3;
  padding-bottom: 5vh;
}

#fourthSection #theduo {
  font-size: 25vh;
  font-family: "Roboto", sans-serif;
  color: #ffffff57;
  width: 100%;
  text-align: center;
}

@media (max-width: 1134px) {
  #fourthSection #theduo {
    font-size: 15vh;
  }
}

@media (max-width: 768px) {
  #fourthSection #theduo {
    font-size: 9vh;
  }
}

#fourthSection #colDuoImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 768px) {
  #fourthSection #colDuoImg {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#fourthSection #colDuoImg .img4 {
  width: 60vh;
}

@media (max-width: 768px) {
  #fourthSection #colDuoImg .img4 {
    width: 50vh;
  }
}

#fourthSection #colDuo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#fourthSection #colDuo #td {
  font-size: 3.5vh;
  font-family: 'Playfair', serif;
  font-weight: 700;
  width: 100%;
  text-align: left;
}

#fourthSection #colDuo #duoTxt {
  font-size: 2.5vh;
  padding-right: 5%;
  font-family: 'Playfair', serif;
  font-weight: 700;
}

#us {
  padding-top: 10vh;
  background-color: #f0f0f0;
  padding-bottom: 10vh;
}

#us #pdrow {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

#us .accordion-button {
  background-color: #fff !important;
  border: #f7da41 2px solid;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 4vh;
  font-family: 'Playfair', serif;
  text-decoration: underline;
  font-weight: 700;
}

#us #flush-collapseOne, #us #flush-collapseTwo, #us #flush-collapseThree, #us #flush-collapseFour, #us #flush-collapseFive, #us #flush-collapseSix, #us #flush-collapseSeven, #us #flush-collapseEight {
  font-size: 3vh;
  font-family: 'Playfair', serif;
  font-weight: 700;
}

footer {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f0f0f0;
}

footer #footerLogo {
  font-size: 5vh;
  font-family: 'Playfair', serif;
  font-weight: 700;
  color: #333;
}

footer #linksfooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer #linksfooter .circle {
  width: 100px;
  height: 100px;
  background-color: #e7e7e7;
  border-radius: 100%;
  -webkit-box-shadow: 0px 5px 10px #0000001f;
          box-shadow: 0px 5px 10px #0000001f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: .4s;
  transition: .4s;
  cursor: pointer;
}

footer #linksfooter .circle:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  cursor: pointer;
  -webkit-box-shadow: 0px 15px 7px #0000001f;
          box-shadow: 0px 15px 7px #0000001f;
}

footer #linksfooter .circle a {
  font-size: 2.4vh;
  font-family: 'Playfair', serif;
  font-weight: 700;
  text-decoration: none;
  color: #333;
}

footer #linksfooter #insta {
  font-size: 4vh;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: .4s;
  transition: .4s;
  color: #333;
}

footer #linksfooter #insta:hover {
  color: #c4c4c4;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

footer #copy {
  text-align: center;
  font-size: 1.5vh;
  color: #333;
  font-family: 'Playfair', serif;
  font-weight: 700;
  padding-top: 5vh;
}
/*# sourceMappingURL=style.css.map */